/* Users.css */

.custom-select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.custom-select:focus {
  outline: none;
  border-color: #4CAF50;
}

input[type='text'] {
  padding: 8px;
  border-radius: 4px;
  width: 100%;
  max-width: 300px;
  font-size: 16px;
}

input[type='text']:focus {
  border-color: #4CAF50;
  outline: none;
}
